@charset "UTF-8";
/* html, body {
	height: 100%;
}*/
.slideCaptcha {
  position: relative;
  margin-top: 200px; }

.slideBar {
  position: relative;
  height: 30px;
  width: inherit;
  background: -webkit-linear-gradient(#eee, #fff, #eee);
  /* Safari 5.1-6.0 */
  background: -o-linear-gradient(#eee, #fff, #eee);
  /* Opera 11.1-12.0 */
  background: -moz-linear-gradient(#eee, #fff, #eee);
  /* Firefox 3.6-15 */
  background: linear-gradient(#eee, #fff, #eee);
  /* 标准语法 */
  background: linear-gradient(#eee, #fff, #eee);
  /* 标准语法 */
  border-radius: 30px; }
  .slideBar .slideBarCircle {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background: url(./images/baae9b3da5847e2e6a3d265277f815fa.png) no-repeat;
    position: absolute;
    display: block;
    top: -5px; }
  .slideBar .successText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px; }
    .slideBar .successText > span {
      display: block; }
      .slideBar .successText > span.success-arrow {
        background: url(./images/3687d86167ffa404a80545e2af9dc930.gif) no-repeat;
        width: 23px;
        height: 12px; }
      .slideBar .successText > span.success-text {
        line-height: 30px;
        font-size: 13px;
        padding: 0 10px;
        color: #aaa;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none; }
    .slideBar .successText.success > span.success-arrow {
      display: none; }
    .slideBar .successText.success > span.success-text {
      content: "";
      background: url(./images/1acf258c17333ddd1ae456e14f43b165.png) no-repeat;
      width: 101px;
      height: 18px;
      margin: 0 10px; }

.slideBoxImage {
  font-size: 0; }

.slideBg {
  font-size: 0;
  position: absolute;
  top: -135px; }
  .slideBg .slideSpirit {
    position: absolute; }
  .slideBg .successBg {
    background: rgba(0, 128, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center; }
    .slideBg .successBg.success {
      opacity: 1;
      transition: opacity .2s ease-in; }
    .slideBg .successBg > span {
      color: #fff;
      font-size: 16px; }
  .slideBg .imageReload {
    background: url(./images/79628d54ba95352e9efb4ea3eee44e62.png) no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 1; }

.show {
  display: block; }

.hide {
  display: none; }

